<?xml version="1.0"?>
<!--
/**
 * LeanSwift Ec2Toggle Extension
 *
 * NOTICE OF LICENSE
 *
 * GNU GENERAL PUBLIC LICENSE
 * Version 3, 29 June 2007

 * Copyright (C) 2007 Free Software Foundation, Inc. <http://fsf.org/>
 * Everyone is permitted to copy and distribute verbatim copies
 * of this license document, but changing it is not allowed.
 *
 * @category   Ec2Toggle
 * @package    LeanSwift
 * @author     Janagiram <janagiram@leanswift.com>
 * @version    1.0
 */
-->
<config>
    <modules>
        <LeanSwift_Ec2Toggle>
            <version>0.1.0</version>
        </LeanSwift_Ec2Toggle>
    </modules>
    <admin>
        <routers>
            <ec2Toggle>
                <use>admin</use>
                <args>
                    <module>LeanSwift_Ec2Toggle</module>
                    <frontName>ec2Toggle</frontName>
                </args>
            </ec2Toggle>
        </routers>
    </admin>
    <global>
        <models>
            <ec2Toggle>
               <class>LeanSwift_Ec2Toggle_Model</class>
               <resourceModel>ec2Toggle_mysql4</resourceModel>
            </ec2Toggle>
            <ec2Toggle_mysql4>
                <class>LeanSwift_Ec2Toggle_Model_Mysql4</class>
                <entities>
                    <ec2Toggle>
                        <table>ls_ec2Toggle</table>
                    </ec2Toggle>
                </entities>
            </ec2Toggle_mysql4>
        </models>
        <resources>
            <ec2Toggle_setup>
                <setup>
                    <module>LeanSwift_Ec2Toggle</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ec2Toggle_setup>
            <ec2Toggle_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ec2Toggle_write>
            <ec2Toggle_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ec2Toggle_read>
        </resources>
        <blocks>
            <ec2Toggle>
                <class>LeanSwift_Ec2Toggle_Block</class>
            </ec2Toggle>
        </blocks>
        <helpers>
            <ec2Toggle>
                <class>LeanSwift_Ec2Toggle_Helper</class>
            </ec2Toggle>
        </helpers>
    </global>
</config>